extends layout 

block content 
    heading 
        h1= title
    main
        section.form-container 
            form(method='POST' action='/new')
                input(type='text' placeholder='User' name='user' id='user')
                input(type='text' placeholder='Message' name='text' id='text')
                button(type='submit' id='submit-btn')= 'post'